<template>
    <div class="warnings" v-if="!loading">
        <div
            v-for="warning, i in warnings"
            :class="warning.type"
            v-on:click="toggle(i)"
        >
            <p>{{warning.message}}</p>
            <div v-show="!minimised[i]">
                {{warning.details}}
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';

export default {
    name: 'warnings',
    data () {
        return {
            minimised: [],
        };
    },
    computed: {
        warnings () {
            return this.$store.state.warnings;
        },
        loading () {
            return this.$store.state.warnings === "loading";
        },
    },
    methods: {
        toggle (i) {
            Vue.set(this.minimised, i, !this.minimised[i]);
        },
    },
    watch: {
        warnings (newWarnings) {
            this.minimised = newWarnings.map(() => {
                return true;
            });
        },
    }
}
</script>

<style>
.warnings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    cursor: pointer;
}
.warnings>div {
    display: block;
    color: #FFFFFF;
    padding: 0.2em 0.2em;
    margin: 0.5em;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}
.warnings>div>p {
    margin: 0;
}
.warnings>div>div {
    margin-top: 0.25em;
    color: #2c3e50;
    font-weight: normal;
    padding: 0.25em;
    text-align: left;
}
.warnings>div.note {
    background-color: #FACA3B;
}
.warnings>div.note>div {
    background-color: #FFE598;
}
.warnings>div.error {
    background-color: #E80000;
}
.warnings>div.error>div {
    background-color: #F79B9B;
}
</style>
