<template>
    <div class="day_header" v-on:click="toggleDisplay" :title="title">
        {{ content }}
    </div>
</template>

<script>
export default {
    name: 'dayheader',
    props: ['day'],
    data () {
        let data = {
            showDate: false,
        };
        return data;
    },
    computed: {
        content () {
            if (this.showDate) {
                return this.dateStr;
            } else {
                return this.dayStr;
            }
        },
        title () {
            if (!this.showDate) {
                return this.dateStr;
            } else {
                return this.dayStr;
            }
        },
        dayStr () {
            let x = parseInt(this.day);
            if (x === 0) {
                return "Today";
            } else if (x === 1) {
                return "Tomorrow";
            } else {
                return "In " + x + " days";
            }
        },
        dateStr () {
            let timeStamp = new Date().getTime() + (86400000 * this.day);
            let date = new Date(timeStamp);
            let day = date.getDate();
            let month = date.getMonth() + 1;
            day = day > 9 ? day : "0" + day;
            month = month > 9 ? month : "0" + month;
            return day + "/" + month + "/" + date.getFullYear();
        },
    },
    methods: {
        toggleDisplay () {
            this.showDate = !this.showDate;
        },
    },
}
</script>

<style>
.day_header {
    width: 100%;
    font-size: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    background-color: #D7DDE7;
    text-align: center;
}
</style>
