<template>
    <div class="schedule_item" v-on:click="toggle">
        <div class="head">
            <span class="type">{{ typeStr }}</span>
            <span class="info">{{ info[0] }} &rarr; {{ info[1] }}</span>
            <span class="amount">${{ amountStr }}</span>
        </div>
        <div class="content" v-show="!minimised">
            <table>
                <tr>
                    <td>DESCRIPTION:</td>
                    <td>{{ description }}</td>
                </tr>
                <tr>
                    <td>AMOUNT:</td>
                    <td>${{ amountStr }}</td>
                </tr>
                <tr>
                    <td>DUE:</td>
                    <td>{{ dueDate }}</td>
                </tr>
            </table>
            <hr />
        </div>
    </div>
</template>

<script>
export default {
    name: 'scheduleitem',
    props: ['details'],
    data () {
        let data = {
            minimised: true,
        };
        for (var key in this.details) {
            if (this.details.hasOwnProperty(key)) {
                data[key] = this.details[key];
            }
        }
        return data;
    },
    computed: {
        typeStr () {
            return {
                "pay": "PAY",
                "move": "TRANSFER",
            }[this.type];
        },
        accounts () {
            return this.$store.state.accounts;
        },
        amountStr () {
            let first = this.amount.toFixed(3);
            if (first.charAt(first.length-1) === '0') {
                first = this.amount.toFixed(2);
            }
            return first;
        },
        info () {
            // Return an array of 2 strings: from and to
            let from = this.accounts[this.from_account_id].name;
            let to = this.getMicro(this.details.microaccount_id).name;
            if (this.type === "move") {
                to = this.accounts[this.to_account_id].name;
            }
            return [from, to];
        },
        dueDate () {
            let timeStamp = new Date().getTime() + (86400000 * this.payment_due);
            let due = new Date(timeStamp);
            let day = due.getDate();
            let month = due.getMonth();
            day = day > 9 ? day : "0" + day;
            month = month > 9 ? month : "0" + month;
            return day + "/" + month + "/" + due.getFullYear();
        },
        description () {
            let microName = this.getMicro(this.microaccount_id).name;
            let fromAccountName = this.accounts[this.from_account_id].name;
            if (this.type === "pay") {
                return microName + " is due to be paid out of " + fromAccountName;
            } else if (this.type === "move") {
                let toAccountName = this.accounts[this.to_account_id].name;
                return "The money for " + microName + " (in " + this.payment_due + " day" + (this.payment_due===1?'':'s') + ") should be moved from " + fromAccountName + " to " + toAccountName;
            }
        },
    },
    methods: {
        toggle () {
            this.minimised = !this.minimised;
        },
        getMicro (id) {
            return this.$store.state.filledMicroaccounts[id];
        }
    },
}
</script>

<style>
.schedule_item {
    padding: 0.4em;
    background-color: #FFFDDD;
}
.schedule_item:hover {
    background-color: #FEFCE6;
    cursor: pointer;
}
.schedule_item>.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #595959;
}
.schedule_item>.head .type {
    min-width: 6em;
    font-size: 0.8em;
    text-align: right;
    padding-right: 0.5em;
    border-right: 0.1em solid #595959;
}
.schedule_item>.head .info {
    flex-grow: 1;
    padding-left: 0.5em;
    color: #303030;
}
.schedule_item>.head .amount {
    flex-basis: 5em;
}
.schedule_item>.content {
    font-size: 0.8em;
    padding-left: 7em;
    color: #595959;
}
.schedule_item>.content>table>tr>td:first-child {
    text-align: right;
    padding-right: 0.5em;
    vertical-align: top;
}
.schedule_item>.content>hr {
    border-top: 0.1em solid #CCCCCC;
    border-left: none;
    border-bottom: none;
    border-right: none;
    margin-right: 8em;
}
</style>
