<template>
    <div class="bounds schedule">
        <div class="header">
            <span class="title">Schedule</span>
            <span class="buttons">
                <maximisebutton
                    :onclick="toggleMax"
                    :maximised="maximised"
                />
                <minimisebutton
                    :onclick="toggleMin"
                    :minimised="minimised"
                />
            </span>
        </div>
        <div class="content" v-show="!minimised" :style="dynamicStyle">
            <div v-if="!loading">
                <template v-for="pmts,day in prunedSchedule">
                    <dayheader
                        :day="day"
                    />
                    <scheduleitem
                        v-for="pmt in pmts"
                        :details="pmt"
                        :key="pmt.to_account_id+'|'+pmt.from_account_id+'|'+pmt.amount+'|'+pmt.due"
                    />
                </template>
                <p class="emptyMessage" v-if="scheduleIsEmpty">
                    Sit back and relax! Theres nothing that needs doing {{ advanceStr }}.
                </p>
            </div>
            <div v-if="loading" style="padding:0.2em;">
                Loading Schedule...
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import Scheduleitem from './item.vue';
import Dayheader from './dayHeader.vue';
import Minimisebutton from '../buttons/minimise.vue';
import Maximisebutton from '../buttons/maximise.vue';

export default {
    name: 'schedule',
    data () {
        return {
            minimised: false,
            maximised: false,
        };
    },
    computed: {
        schedule () {
            return this.$store.state.schedule;
        },
        loading () {
            return this.$store.state.schedule === "loading";
        },
        dynamicStyle () {
            return {
                maxHeight: this.maximised?"none":"10em",
            };
        },
        prunedSchedule () {
            // Remove silent entries and days
            let newSched = {};
            for (let day in this.schedule) {
                let newItems = this.schedule[day].filter(e => {
                    return e.type !== "silent";
                });
                if (newItems.length) {
                    newSched[day] = newItems;
                }
            }
            return newSched;
        },
        scheduleIsEmpty () {
            return Object.keys(this.prunedSchedule).length === 0;
        },
        advanceStr () {
            switch (this.$store.state.advance) {
                case 7:
                    return "this week";
                case 14:
                    return "in the next two weeks";
                default:
                    return "in the next " + this.$store.state.advance + " days";
            }
        },
    },
    methods: {
        inXdays (x) {
            x = parseInt(x);
            if (x === 0) {
                return "Today";
            } else if (x === 1) {
                return "Tomorrow";
            } else {
                return "In " + x + " days";
            }
        },
        toggleMin () {
            if (this.maximised) {
                this.maximised = false;
            } else {
                this.minimised = !this.minimised;
            }
        },
        toggleMax () {
            if (this.minimised) {
                this.minimised = false;
            } else {
                this.maximised = !this.maximised;
            }
            // If we just expanded, scroll to the heading
            if (this.maximised) {
                let el = this.$el;
                Vue.nextTick(() => {
                    el.scrollIntoView(true);
                });
            }
        },

    },
    components: {
        Scheduleitem,
        Dayheader,
        Minimisebutton,
        Maximisebutton,
    },
}
</script>

<style>
.schedule.bounds {
    display: inline-block;
    border: 2px solid #4F5890;
    margin: 0.5em 0;
}
.schedule.bounds .header {
    background-color: #4F5890;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.schedule.bounds .header .title {
    color: #FFFFFF;
}
.schedule.bounds .header>.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 1.2em;
}
.schedule.bounds .content {
    overflow-y: auto;
    padding: 0;
}
.schedule.bounds .content .emptyMessage {
    text-align: center;
    background-color: #FFFDDD;
    margin: 0;
    padding: 0.5em;
}
</style>
