<template>
    <a class="ecbutton" v-on:click="onclick" :title="title">
        <span v-html="crossParts"></span>
    </a>
</template>

<script>
export default {
    name: 'ecbutton',
    props: ['onclick', 'expanded'],
    computed: {
        title () {
            return this.expanded?'Collapse All':'Expand All';
        },
        crossParts () {
            return this.expanded?'&#x2936;':'&#x2935;'
        },
    },
}
</script>

<style>
.ecbutton {
    display: inline-block;
    cursor: pointer;
    width: 0.75em;
    height: 0.75em;
    margin: 0 0.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0.1em solid #FFFFFF;
}
.ecbutton>span {
    color: #FFFFFF;
    font-size: 1em;
    margin-top: 0.125em;
}
.ecbutton:hover {
    background-color: #5B65A3;
}
</style>
