<template>
    <a class="maximise" v-on:click="onclick" :title="title">
        <span :style="dynamicStyle"></span>
    </a>
</template>

<script>
export default {
    name: 'maximisebutton',
    props: ['onclick', 'maximised'],
    computed: {
        title () {
            return this.maximised?'Un-maximise':'Maximise';
        },
        dynamicStyle () {
            let style = {};
            if (this.maximised) {
                style.height = "0.25em";
            } else {
                style.height = "0.65em";
            }
            return style;
        },
    },
}
</script>

<style>
.maximise {
    display: inline-block;
    cursor: pointer;
    width: 0.85em;
    height: 0.85em;
    margin: 0 0.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.maximise>span {
    border: 0.1em solid #FFFFFF;
    border-top-width: 0.2em;
    width: 1em;
    height: 0.8em;
}
.maximise:hover {
    background-color: #5B65A3;
}
</style>
