<template>
    <a class="minimise" v-on:click="onclick" :title="title">
        <span>{{ stateIcon }}</span>
    </a>
</template>

<script>
export default {
    name: 'minimisebutton',
    props: ['onclick', 'minimised'],
    computed: {
        stateIcon () {
            return this.minimised?'+':'-';
        },
        title () {
            return this.minimised?'Un-minimise':'Minimise';
        },
    },
}
</script>

<style>
.minimise {
    display: inline-block;
    cursor: pointer;
    width: 0.75em;
    height: 0.75em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.minimise>span {
    color: #FFFFFF;
    margin-bottom: 0.125em;
    margin-left: 0.04em;
}
.minimise:hover {
    background-color: #5B65A3;
}
</style>
