<template>
    <div class="bounds accounts" :style="dynamicStyle">
        <div class="header">
            <span class="title">Bank Accounts</span>
            <span class="buttons">
                <minimisebutton
                    :onclick="toggle"
                    :minimised="minimised"
                />
            </span>
        </div>
        <div class="content" v-show="!minimised">
            <account-view
                v-if="!loading && !empty"
                v-for="account, index in accounts"
                :account="account"
                :key="account.id"
            />
            <div v-if="empty" class="stateNote">
                <span>
                    You haven't got any Bank Accounts at the moment
                </span>
            </div>
            <div v-if="loading" class="stateNote">
                <span>
                    Loading Accounts...
                </span>
            </div>
        </div>
    </div>
</template>

<script>
import AccountView from './view.vue';
import Minimisebutton from '../buttons/minimise.vue';

export default {
    name: 'account-container',
    computed: {
        accounts () {
            return this.$store.state.accounts;
        },
        empty () {
            return Object.keys(this.$store.state.accounts).length === 0;
        },
        loading () {
            return this.accounts === "loading";
        },
        dynamicStyle () {
            let style = {};
            if (this.minimised) {
                style.alignSelf = "flex-start";
                style.flexGrow = 0;
            }
            return style;
        },
    },
    data () {
        return {
            minimised: false,
        };
    },
    methods: {
        toggle () {
            this.minimised = !this.minimised;
        },
    },
    components: {
        AccountView,
        Minimisebutton,
    },
}
</script>

<style>
.accounts.bounds {
    display: inline-block;
    border: 2px solid #4F5890;
    margin: 0.5em 0;
}
.accounts.bounds .header {
    background-color: #4F5890;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.accounts.bounds .header .title {
    color: #FFFFFF;
}
.accounts.bounds .header>.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 1.2em;
}
.accounts.bounds .content {
    padding: 0.2em;
}
.accounts .stateNote {
    min-height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    text-align: center;
    padding: 0.5em 1em;
}
</style>
