<template>
    <div>
        <h2 v-if="isNew">New Account</h2>
        <h2 v-if="!isNew">Edit {{name}}</h2>
        <div class="form">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input v-model.trim="name" /></td>
                </tr>
                <tr v-if="isNew">
                    <td>Unique ID</td>
                    <td><input v-model.number.trim="id" /></td>
                </tr>
                <tr>
                    <td>Balance</td>
                    <td><input v-model.number.trim="balance" /></td>
                </tr>
                <tr>
                    <td>Interest Rate</td>
                    <td><input v-model.number.trim="interest" /></td>
                </tr>
                <tr>
                    <td>Mobility</td>
                    <td><input v-model.number.trim="mobility" /></td>
                </tr>
            </table>
        </div>
        <div class="modal_buttons">
            <span class="button red" v-on:click="deleteAccount" v-if="!isNew">Delete</span>
            <span class="button blue" v-on:click="cancel">Cancel</span>
            <span class="button green" v-on:click="save">Save</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'edit-account',
    props: ['props'],
    computed: {
        isNew () {
            // New accounts won't have an ID set
            return this.props.id === "";
        },
    },
    data () {
        return {
            name: this.props.name,
            id: this.props.id,
            balance: this.props.balance,
            interest: this.props.interest,
            mobility: this.props.mobility,
        }
    },
    methods: {
        cancel () {
            this.$store.commit("setModal", null);
        },
        save () {
            let account = {
                name: this.name,
                id: this.id,
                balance: this.balance,
                interest: this.interest,
                mobility: this.mobility,
            };
            if (this.isNew) {
                this.$store.dispatch("createAccount", account);
            } else {
                account.id = this.props.id;
                this.$store.dispatch("updateAccount", account);
            }
            this.cancel();
        },
        deleteAccount () {
            // Idiot check
            if (!this.isNew) {
                this.$store.dispatch("deleteAccount", this.props.id);
            }
            this.cancel();
        },
    },
}
</script>

<style>
h2 {
    margin-top: 0;
}
.form table>tr td {
    padding: 0.2em 0.1em;
}
.form table>tr td:first-child {
    text-align: right;
}
.form input {
    border-radius: 0;
    padding: 0.3em;
    background-color: #FFFFFF;
    border: 0.2em solid #D5D5D5;
}
.form input:focus {
    border: 0.2em solid #4F5890;
}
.modal_buttons {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button {
    display: inline-block;
    cursor: pointer;
    padding: 0.75em;
    color: #FFFFFF;
    text-align: center;
    width: 3.5em;
}
.button.red {
    background-color: #FA2424;
}
.button.red:hover {
    background-color: #FF4F4F;
}
.button.green {
    background-color: #24FA33;
}
.button.green:hover {
    background-color: #4DFF59;
}
.button.blue {
    background-color: #249AFA;
}
.button.blue:hover {
    background-color: #52B1FF;
}
</style>
