<template>
    <div>
        {{ name }} - ${{ balance }}
        <a class="edit" title="Edit" v-on:click="editModal">✎</a>
    </div>
</template>

<script>
import AccountEdit from './edit.vue';

export default {
    name: 'account-view',
    props: ["account"],
    computed: {
        name () {
            return this.account.name;
        },
        balance () {
            return this.account.balance.toFixed(2);
        },
    },
    methods: {
        editModal () {
            let obj = {
                component: AccountEdit,
                props: this.account,
            };
            this.$store.commit("setModal", obj);
        }
    },
    components: {
        AccountEdit,
    },
}
</script>

<style>
a.edit {
    display: inline-block;
    font-size: 120%;
    color: #0099FF;
    cursor: pointer;
    vertical-align: top;
    padding-left: 0.5em;
}
</style>
