<template>
    <div :class="'category ' + (position?position:'')">
        <div class="head">
            <a v-on:click="toggle" class="toggler">{{ (minimised?"+":"-") }}</a>
            <span class="title">{{ name }} -
                <span :class="'balance ' + balanceState">${{ balance }}</span>
            </span>
            <mini-menu :items="menuItems" :iconStyle="menuStyle" />
        </div>
        <div class="children" v-show="!minimised">
            <component
                v-for="child, index in props.children"
                :is="getComponent(child)"
                :props="child"
                :key="child.id"
                :startMinimised="child.full"
                :position="((index === props.children.length - 1)?'last':'')"
            />
        </div>
    </div>
</template>

<script>
import MicroAccount from './micro.vue';
import CategoryEdit from './editCategory.vue';
import MicroEdit from './editMicro.vue';
import MiniMenu from '../minimenu.vue';

let CategoryNode = {
    name: 'category-node',
    props: ["props", "startMinimised", "position"],
    computed: {
        name () {
            return this.props.name;
        },
        balance () {
            return this.props.balance.toFixed(2);
        },
        balanceState () {
            if (this.props.full) {
                return "full";
            } else if (this.props.balance === 0) {
                return "empty";
            } else {
                return "med";
            }
        },
    },
    data () {
        let menuItems = [
            {
                name: "New Micro Account",
                hint: "Create a New Micro Account",
                action: this.newAccount,
            },
            {
                name: "New Category",
                hint: "Create a new Category",
                action: this.newCategory,
            },
        ];
        if (this.position !== "first") {
            menuItems.splice(0,0,{
                name: "Rename",
                hint: "Rename this category",
                action: this.editModal,
            });
        }
        if (this.position !== "first" && !this.props.children.length) {
            menuItems.push({
                name: "Delete",
                hint: "Delete this category",
                action: this.deleteSelf,
            });
        }
        return {
            minimised: this.startMinimised,
            menuItems,
            menuStyle: {
                backgroundColor: "#4F5890",
                borderRadius: 0,
            }
        }
    },
    methods: {
        editModal () {
            let obj = {
                component: CategoryEdit,
                props: this.props,
            };
            this.$store.commit("setModal", obj);
        },
        newAccount () {
            // Open the modal with an empty account
            let obj = {
                component: MicroEdit,
                props: {
                    name: "New Micro Account",
                    id: -1,
                    balance: 0,
                    target: 0,
                    full: false,
                    vital: false,
                    schedule: "",
                    parent: this.props.id,
                },
            };
            this.$store.commit("setModal", obj);
            this.minimised = false;
        },
        newCategory () {
            let obj = {
                component: CategoryEdit,
                props: {
                    name: "New Category",
                    id: -1,
                    parent: this.props.id,
                    balance: 0,
                    full: false,
                    vital: false,
                },
            };
            this.$store.commit("setModal", obj);
            this.minimised = false;
        },
        deleteSelf () {
            this.$store.dispatch("deleteCategory", this.props.id);
        },
        toggle () {
            this.minimised = !this.minimised;
        },
        getComponent (node) {
            return {
                "Category": CategoryNode,
                "Microaccount": MicroAccount,
            }[node.type];
        },
    },
    components: {
        CategoryEdit,
        MicroAccount,
        MicroEdit,
        MiniMenu,
    },
}
export default CategoryNode;
</script>

<style>
.category {
    border-left: 0.1em dashed #c9c9c9;
}
.category::before {
    content: "";
    border-bottom: 0.1em dashed #c9c9c9;
    display: block;
    position: absolute;
    width: 0.4em;
    height: 0.7em;
}
.category.last {
    border: none;
}
.category.last::before {
    content: "";
    width: 0.4em;
    height: 0.7em;
    display: inline-block;
    position: absolute;
    border-left: 0.1em dashed #c9c9c9;
    border-bottom: 0.1em dashed #c9c9c9;
}
.category.first {
    border: none;
}
.category.first::before {
    content: none;
}

.category>.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.5em;
    margin-left: 0.5em;
}
.category>.head .toggler {
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    background-color: #4F5890;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    line-height: 0.55em;
}
.category>.head .title {
    margin: 0 0.5em;
}
.category>.children {
    padding-left: 1em;
}
</style>
