<template>
    <div class="bounds microaccount">
        <div class="header">
            <span class="title">Micro Accounts</span>
            <span class="buttons">
                <ecbutton
                    :onclick="expandContract"
                    :expanded="expanded"
                />
                <minimisebutton
                    :onclick="toggle"
                    :minimised="minimised"
                />
            </span>
        </div>
        <div class="content" v-show="!minimised">
            <keep-alive>
                <category-node
                    v-if="!loading && tree"
                    :props="tree"
                    :startMinimised="false"
                    :position="'first'"
                    />
            </keep-alive>
            <div v-if="!tree" class="stateNote">
                You don't have any micro accounts or categories yet - you should add some from the 'New' menu item.
            </div>
            <div v-if="loading" class="stateNote">
                Loading Accounts...
            </div>
        </div>
    </div>
</template>

<script>
import Minimisebutton from '../buttons/minimise.vue';
import Ecbutton from '../buttons/expandcontract.vue';
import CategoryNode from './category.vue';

export default {
    name: 'microaccount-container',
    computed: {
        loading () {
            return this.$store.getters.tree === "loading";
        },
        tree () {
            return this.$store.getters.tree;
        },
    },
    data () {
        return {
            minimised: false,
            expanded: false,
        };
    },
    methods: {
        toggle () {
            this.minimised = !this.minimised;
        },
        expandContract () {
            let alterAllChildren = function(node, state) {
                // Toggle children
                node.$children.map(child => {
                    if (child.$el.className.indexOf('category') !== -1) {
                        alterAllChildren(child, state);
                    }
                });
                // Toggle self
                node.minimised = state;
            }
            alterAllChildren(
                this.$children[this.$children.length -1 ],
                this.expanded);
            this.expanded = !this.expanded;
        },
    },
    components: {
        CategoryNode,
        Minimisebutton,
        Ecbutton,
    },
}
</script>

<style>
.microaccount.bounds {
    display: inline-block;
    border: 2px solid #4F5890;
    margin: 0.5em 0;
}
.microaccount .header {
    background-color: #4F5890;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.microaccount .header .title {
    color: #FFFFFF;
}
.microaccount .header>.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.microaccount .content {
    padding: 0.2em;
}
.microaccount .content .stateNote {
    font-style: italic;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
</style>
