<template>
    <div class="editMicro">
        <h2 v-if="isNew">New Micro Account</h2>
        <h2 v-if="!isNew">Edit {{ name }}</h2>
        <div class="form">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input v-model.trim="name" /></td>
                </tr>
                <tr>
                    <td>Target Balance</td>
                    <td><input v-model.number.trim="target" /></td>
                </tr>
                <tr>
                    <td>Vital</td>
                    <td><input v-model="vital" type="checkbox" /></td>
                </tr>
                <tr>
                    <td>Silence</td>
                    <td><input v-model="silent" type="checkbox" />
                    (hide from Schedule section)</td>
                </tr>
                <tr>
                    <td>Schedule</td>
                    <td><schedule-picker v-model="schedule" :schedule="schedule" :onchange="newsched => schedule=newsched" /></td>
                </tr>
            </table>
        </div>
        <div class="modal_buttons">
            <span class="button red" v-if="!isNew" v-on:click="deleteSelf">Delete</span>
            <span class="button blue" v-on:click="cancel">Cancel</span>
            <span class="button green" v-on:click="save">Save</span>
        </div>
    </div>
</template>

<script>
import schedulePicker from './schedulePicker.vue';
export default {
    name: 'edit-micro',
    props: ['props'],
    computed: {
        isNew () {
            // New accounts won't have a proper ID set
            return this.props.id === -1;
        },
    },
    data () {
        return {
            name: this.props.name,
            target: this.props.target,
            vital: this.props.vital,
            schedule: this.props.schedule,
            silent: this.props.silent,
        }
    },
    methods: {
        cancel () {
            this.$store.commit("setModal", null);
        },
        deleteSelf () {
            this.$store.dispatch("deleteMicroaccount", this.props.id);
            this.cancel();
        },
        save () {
            let micro = {
                name: this.name,
                target: this.target,
                vital: this.vital,
                schedule: this.schedule,
                silent: (this.silent?true:false),
                id: this.props.id,
                parent: this.props.parent,
                balance: this.props.balance,
                type: 'Microaccount',
            };
            if (this.isNew) {
                this.$store.dispatch("createMicroaccount", micro);
            } else {
                this.$store.dispatch("updateMicroaccount", micro);
            }
            this.cancel();
        },
    },
    components: {
        schedulePicker,
    },
}
</script>

<style>
h2 {
    margin-top: 0;
}
.editMicro .form>table>tr td {
    padding: 0.2em 0.1em;
}
.editMicro .form>table>tr td:first-child {
    text-align: right;
}
.editMicro .form>table>tr>td input {
    border-radius: 0;
    padding: 0.3em;
    background-color: #FFFFFF;
    border: 0.2em solid #D5D5D5;
}
.editMicro .form>table>tr>td input:focus {
    border: 0.2em solid #4F5890;
}
.editMicro .modal_buttons {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.editMicro .button {
    display: inline-block;
    cursor: pointer;
    padding: 0.75em;
    color: #FFFFFF;
    text-align: center;
    width: 3.5em;
}
.button.red {
    background-color: #FA2424;
}
.button.red:hover {
    background-color: #FF4F4F;
}
.button.green {
    background-color: #24FA33;
}
.button.green:hover {
    background-color: #4DFF59;
}
.button.blue {
    background-color: #249AFA;
}
.button.blue:hover {
    background-color: #52B1FF;
}
.editMicro .vdp-datepicker {
    display: inline-block;
}
.editMicro .vdp-datepicker input {
    width: 8em;
}
.editMicro .vdp-datepicker header {
    color: #2c3e50;
    background-color: #FFFFFF;
    font-size: 2em;
    padding: none;
}
.editMicro .vdp-datepicker header span {
    color: #2c3e50;
}
.editMicro .vdp-datepicker__calendar .cell.selected,
.editMicro .vdp-datepicker__calendar .cell.selected.highlighted,
.editMicro .vdp-datepicker__calendar .cell.selected:hover {
    background-color: #4F5890;
    color: #FFFFFF;
}

.editMicro .vdp-datepicker__calendar .cell.day:hover:not(.blank):not(.disabled),
.editMicro .vdp-datepicker__calendar .editMicro .cell.month:hover:not(.blank):not(.disabled),
.editMicro .vdp-datepicker__calendar .cell.year:hover:not(.blank):not(.disabled) {
    border-color: #4F5890;
}
</style>
