<template>
    <div>
        <h2 v-if="isNew">New Category</h2>
        <h2 v-if="!isNew">Rename {{name}}</h2>
        <div class="form">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input v-model.trim="name" /></td>
                </tr>
            </table>
        </div>
        <div class="modal_buttons">
            <span class="button blue" v-on:click="cancel">Cancel</span>
            <span class="button green" v-on:click="save">Save</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'edit-category',
    props: ['props'],
    computed: {
        isNew () {
            // New accounts won't have a proper ID set
            return this.props.id === -1;
        },
    },
    data () {
        return {
            name: this.props.name,
            parent: this.props.parent,
        }
    },
    methods: {
        cancel () {
            this.$store.commit("setModal", null);
        },
        save () {
            let category = {
                name: this.name,
                parent: this.parent,
                id: this.props.id,
                balance: this.props.balance,
                full: this.props.full,
                type: 'Category',
            };
            if (this.isNew) {
                this.$store.dispatch("createCategory", category);
            } else {
                this.$store.dispatch("updateCategory", category);
            }
            this.cancel();
        },
    },
}
</script>

<style>
h2 {
    margin-top: 0;
}
.form table>tr td {
    padding: 0.2em 0.1em;
}
.form table>tr td:first-child {
    text-align: right;
}
.form input {
    border-radius: 0;
    padding: 0.3em;
    background-color: #FFFFFF;
    border: 0.2em solid #D5D5D5;
}
.form input:focus {
    border: 0.2em solid #4F5890;
}
.modal_buttons {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button {
    display: inline-block;
    cursor: pointer;
    padding: 0.75em;
    color: #FFFFFF;
    text-align: center;
    width: 3.5em;
}
.button.red {
    background-color: #FA2424;
}
.button.red:hover {
    background-color: #FF4F4F;
}
.button.green {
    background-color: #24FA33;
}
.button.green:hover {
    background-color: #4DFF59;
}
.button.blue {
    background-color: #249AFA;
}
.button.blue:hover {
    background-color: #52B1FF;
}
</style>
