<template>
    <div :class="'micro ' + (position?position:'')">
        <div class="head">
            <span class="title">{{ name }} -
                <span :class="'balance ' + balanceState">${{ balance }}</span>
                <span v-if="props.past" class="past"> (past)</span>
            </span>
            <a class="edit" title="Edit" v-on:click="editModal">✎</a>
        </div>
    </div>
</template>

<script>
import MicroEdit from './editMicro.vue';

export default {
    name: 'micro-account',
    props: ["props", "position"],
    computed: {
        name () {
            return this.props.name;
        },
        balance () {
            return this.props.balance.toFixed(2);
        },
        balanceState () {
            if (this.props.past) {
                return "past";
            } else if (this.props.full) {
                return "full";
            } else if (this.props.balance === 0) {
                return "empty";
            } else {
                return "med";
            }
        },
    },
    data () {
        return {
        }
    },
    methods: {
        editModal () {
            let obj = {
                component: MicroEdit,
                props: this.props,
            };
            this.$store.commit("setModal", obj);
        },
    },
    components: {
        MicroEdit,
    },
}
</script>

<style>
micro a.edit {
    display: inline-block;
    font-size: 120%;
    color: #0099FF;
    cursor: pointer;
    vertical-align: top;
    padding-left: 0.15em;
}
.micro {
    border-left: 0.1em dashed #c9c9c9;
}
.micro::before {
    content: "";
    border-bottom: 0.1em dashed #c9c9c9;
    display: block;
    position: absolute;
    width: 0.4em;
    height: 0.7em;
}
.micro.last {
    border: none;
}
.micro.last::before {
    content: "";
    width: 0.4em;
    height: 0.7em;
    display: inline-block;
    position: absolute;
    border-left: 0.1em dashed #c9c9c9;
    border-bottom: 0.1em dashed #c9c9c9;
}
.micro.first {
    border: none;
}
.micro.first::before {
    content: none;
}
.micro>.head {
    padding-left: 0.75em;
}
.past {
    color: #8E8E8E;
}
</style>
