<template>
    <div>
        <select v-model="type" v-on:change="typeChange">
            <option value="" disabled>Pick a Schedule</option>
            <option value="on">Once</option>
            <option value="d">Daily</option>
            <option value="w">Weekly</option>
            <option value="2w">Every 2 Weeks</option>
            <option value="m">Monthly</option>
            <option value="2m">Every 2 Months</option>
            <option value="y">Yearly</option>
        </select>
        <span v-show="type==='2w'"> starting </span>
        <span v-show="showDow||showDate"> on </span>
        <select v-model="data1" v-on:change="change" v-show="showDow" class="dow">
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
            <option value="0">Sunday</option>
        </select>
        <component
            is="Datepicker"
            v-show="showDate"
            v-model="data1"
            v-on:closed="change"
        />
        <span v-show="showDom"> on the </span>
        <select v-model="data1" v-on:change="change" v-show="showDom" class="dom">
            <option value="" disabled>Pick a Day</option>
            <option value="1">1st</option>
            <option value="2">2nd</option>
            <option value="3">3rd</option>
            <option value="4">4th</option>
            <option value="5">5th</option>
            <option value="6">6th</option>
            <option value="7">7th</option>
            <option value="8">8th</option>
            <option value="9">9th</option>
            <option value="10">10th</option>
            <option value="11">11th</option>
            <option value="12">12th</option>
            <option value="13">13th</option>
            <option value="14">14th</option>
            <option value="15">15th</option>
            <option value="16">16th</option>
            <option value="17">17th</option>
            <option value="18">18th</option>
            <option value="19">19th</option>
            <option value="20">20th</option>
            <option value="21">21st</option>
            <option value="22">22nd</option>
            <option value="23">23rd</option>
            <option value="24">24th</option>
            <option value="25">25th</option>
            <option value="26">26th</option>
            <option value="27">27th</option>
            <option value="28">28th</option>
            <option value="29">29th</option>
            <option value="30">30th</option>
        </select>
        <span v-show="showDom"> of every </span>
        <select v-model="data2" v-on:change="change" v-show="showOddEven" class="oddeven">
            <option value="1">odd</option>
            <option value="0">even</option>
        </select>
        <span v-show="showDom"> month</span>
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
export default {
    name: 'schedule-picker',
    props: ['schedule', 'onchange'],
    computed: {
        value () {
            let val = [this.type];
            if (this.lengths[this.type] >= 1) {
                if (this.showDate) {
                    // Data1 needs to be set to the timestamp
                    val.push(parseInt(this.data1.getTime()/1000,10) + 8640);
                } else {
                    // Data1 is already good
                    val.push(this.data1);
                }
            }
            if (this.lengths[this.type] >= 2) {
                val.push(this.data2);
            }
            return val.join("|");
        },
        showDow () {
            return this.type === "w";
        },
        showDom () {
            return ["m", "2m"].indexOf(this.type) !== -1;
        },
        showOddEven () {
            return "2m" === this.type;
        },
        showDate () {
            return ["on", "2w", "y"].indexOf(this.type) !== -1;
        },
    },
    data () {
        let parts = this.schedule.split("|");
        let type = parts.shift();
        let data1 = parts.shift();
        let data2 = parts.shift();
        let date = new Date();
        if ((type === "2w" || type === "on" || type === "y") && data1) {
            data1 = new Date((parseInt(data1)*1000) - 8640);
        }
        return {
            type,
            data1,
            data2,
            date,
            lengths: {
                on: 1,
                d: 0,
                w: 1,
                "2w": 1,
                m: 1,
                "2m": 2,
                "y":1,
            },
        }
    },
    methods: {
        change () {
            this.onchange(this.value);
        },
        typeChange () {
            // Set sensible defaults if data1/2 are unset
            switch (this.type) {
                case "on":
                    this.data1 = new Date();
                    break;
                case "w":
                    this.data1 = 0;
                    break;
                case "2w":
                    this.data1 = new Date();
                    break;
                case "m":
                    this.data1 = 1;
                    break;
                case "2m":
                    this.data1 = 1;
                    this.data2 = 1;
                    break;
                case "y":
                    this.data1 = new Date();
                    break;
            }
            this.change();
        },
    },
    components: {
        Datepicker,
    },
}
</script>

<style>
.dom {
    width: 5em;
}
</style>
