<template>
    <div class="about">
        <h3>What is Budgie?</h3>
        <p class="content">
            Budgie is a webapp that helps you sort your money!
        </p>
        <p class="content">
            Using the concept of micropayments to separate out your regular bank accounts, it can figure out the optimal arrangement for your accounts.
        </p>
        <h3>Is it safe to put my account details online?</h3>
        <p class="content">
            Budgie runs on <i>your</i> computer. Using modern web technologies, none of your information is sent back to the server. The only one who can access it is someone using your computer. This makes it about as safe as storing your budget information in an Excel spreadsheet. <!--I've written a bit more about how this works <a href="">here</a>.-->
        </p>
        <h3>I don't trust you - how do I know this is safe?</h3>
        <p class="content">
            Budgie is <a href="https://en.wikipedia.org/wiki/Open-source_software">Open Source Software</a>, so anyone can take a look at how it runs and point out flaws or improvements. This makes the software safer for everyone involved, and means you can take it and run it yourself if you want! You can find the source or log an issue on <a href="https://gitlab.com/ollyfg/budgie">Gitlab</a>.
        </p>
        <br />
        <p class="content">
            Budgie was made with 💙 by <a href="http://www.ollyfg.com">Olly F-G</a>
        </p>
        <div class="modal_buttons">
            <span class="button green" v-on:click="close">OK</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'about-screen',
    methods: {
        close () {
            this.$store.commit("setModal", null);
        },
    },
}
</script>

<style>
h2 {
    margin-top: 0;
}
.modal_buttons {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button {
    display: inline-block;
    cursor: pointer;
    padding: 0.75em;
    color: #FFFFFF;
    text-align: center;
    width: 3.5em;
}
.button.green {
    background-color: #24FA33;
}
.button.green:hover {
    background-color: #4DFF59;
}
</style>
