<template>
    <div id="app">
        <modal></modal>
        <warnings></warnings>
        <div class="row">
            <menubar />
        </div>
        <div class="row">
            <account-container />
            <stats />
        </div>
        <div class="row">
            <microaccount-container />
        </div>
        <div class="row">
            <schedule />
        </div>
    </div>
</template>

<script>
import Modal from './modal.vue'
import Menubar from './menubar/menubar.vue';
import Warnings from './warnings/warnings.vue'
import AccountContainer from './accounts/container.vue'
import Stats from './stats/stats.vue'
import MicroaccountContainer from './microaccounts/container.vue'
import Schedule from './schedule/schedule.vue'

export default {
    name: 'app',
    components: {
        Modal,
        Warnings,
        Menubar,
        AccountContainer,
        Stats,
        MicroaccountContainer,
        Schedule,
    },
}
</script>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.balance.full {
    color: #48E200;
}
.balance.med {
    color: #E2CB00;
}
.balance.empty {
    color: #E20000;
}
#app>.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* Overridden when minimised*/
    align-items: stretch;
}
#app>.row>* {
    flex-grow: 1;
    margin: 0.5em 0.5em;
}
</style>
