<template>
    <div class="gettingstarted">
        <h3>Welcome! Meet Budgie, your new budgeting friend!</h3>
        <p class="content">
            Budgie is uses the concept of microaccounts to make budgeting a breeze.
        </p>
        <p class="content">
            Imagine you opened a new bank account, just for your power bill.<br /> Now imagine if your income was automatically funnelled into that account, until it reached the amount you need to pay. Unless of course your water bill was due sooner! In that case the water bill account would fill up first.
        </p>
        <p class="content">
            Sounds handy, right?
        </p>
        <p class="content">
            Of course you probably can't open that many accounts with your bank, and all the little accounts would probably have terrible interest rates. Most people only have a few, larger accounts, which is great for saving - until it comes to budgeting.<br />
            You might want to use a spreadsheet, to pretend you have lots of little accounts, but then it gets hard to keep up to date, and you have to work out when to move what money where, and it becomes a hassle.
        </p>
        <p class="content">
            Budgie handles all of this for you, simply, safely and securely.
        </p>
        <h3>Great! Where do I begin?</h3>
        <p class="content">
            A good place to start would be to add a <b>Bank Account</b>.<br />
            To do this, click <b>New</b>, then <b>Bank Account</b>.<br />
            You will then have to fill in the details.
            <ol>
                <li>Name - What you want to call this bank account (eg. Savings, Day To Day, etc.)</li>
                <li>Unique ID - Feel free to put whatever you like in here</li>
                <li>Balance - How much money is currently in the account</li>
                <li>Interest Rate - Budgie will move spare money into the account that has the highest interest rate</li>
                <li>Mobility - How quickly you can access this money, in days</li>
            </ol>
        </p>
        <h3>I've added my bank accounts, now what?</h3>
        <p class="content">
            Now you can get to the fun stuff - Building your budget!<br />
            All microaccounts need to be kept in <b>Categories</b>. Go ahead and create an "All" category to keep everything in.<br />
            See that menu button at the end of the new category? That will let you make more categories or microaccounts inside it! Go wild!
        </p>
        <h3>It's all set up. what happens now?</h3>
        <p class="content">
            Now Budgie will give you suggestions - you can see them in the <b>Schedule</b> box. Clicking on an item in there will tell you more about it.<br />
            You might also get warnings in colored boxes at the top - you can click on them too for more information on what the problem is.
        </p>
        <div class="modal_buttons">
            <span class="button green" v-on:click="close">OK</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'getting-started',
    methods: {
        close () {
            this.$store.commit("setModal", null);
        },
    },
}
</script>

<style>
h2 {
    margin-top: 0;
}
.modal_buttons {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button {
    display: inline-block;
    cursor: pointer;
    padding: 0.75em;
    color: #FFFFFF;
    text-align: center;
    width: 3.5em;
}
.button.green {
    background-color: #24FA33;
}
.button.green:hover {
    background-color: #4DFF59;
}
</style>
