<template>
    <div>
        <a class="icon" :style="iconStyle" title="Menu" v-on:click="toggle">&#9776;</a>
        <ul class="container" v-if="!minimised">
            <li
                v-for="item, index in items"
                :style="{backgroundColor:getbg(index)}"
            >
                <a v-on:click="execute(item.action)" :title="item.hint">
                    {{ item.name }}
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'mini-menu',
    props: ["items", "iconStyle"],
    computed: {
    },
    data () {
        return {
            minimised: true,
        };
    },
    methods: {
        toggle () {
            this.minimised = !this.minimised;
        },
        getbg (i) {
            return (i%2==0)?"#FFFFFF":"#FEFDF6";
        },
        execute (action) {
            this.minimised = true;
            action();
        }
    },
}
</script>

<style>
.icon {
    cursor: pointer;
    color: #FFFFFF;
    padding: 0 0.25em 0 0.2em;
    border-radius: 0.2em;
}
.icon:hover {
    background-color: #485083;
}
.container {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0.2em solid #4F5890;
    background-color: #FFFFFF;
    list-style: none;
}
.container a {
    display: block;
    height: 100%;
    cursor: pointer;
    padding: 0.2em;
}
.container a:hover {
    background-color: #BEC0CC;
}
</style>
