<template>
    <div class="guard"
        v-if="show"
        v-on:click="close"
    >
        <div>
            <div v-on:click.stop>
                <component :is="component" :props="props"></component>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'modal',
    computed: {
        show () {
            return this.$store.state.modal !== null;
        },
        component () {
            return this.$store.state.modal.component;
        },
        props () {
            return this.$store.state.modal.props;
        },
    },
    methods: {
        close () {
            this.$store.commit("setModal", null);
        },
    },
}
</script>

<style>
.guard {
    position: fixed;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.63);
    cursor: pointer;
}
.guard>div {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.guard>div>div {
    display: inline-block;
    background-color: #FFFFFF;
    padding: 1em;
    cursor: auto;
    margin: 0 auto;
    max-width: 50%;
}
</style>
