<template>
    <dropdown
        :name="'&#x2335; ' + advanceStr"
        :items="menuItems"
    />
</template>

<script>
import Dropdown from './dropdown.vue';

export default {
    name: 'advanceselector',
    data () {
        return {
            menuItems: [
                {
                    name: "1 Week",
                    action: this.setAdvance(7),
                },
                {
                    name: "2 Weeks",
                    action: this.setAdvance(14),
                },
                {
                    name: "30 Days",
                    action: this.setAdvance(30),
                },
            ],
        };
    },
    computed: {
        advance () {
            return this.$store.state.advance;
        },
        advanceStr () {
            if (this.advance % 7 === 0) {
                return (this.advance/7) + " Week" + (this.advance === 7?'':'s');
            } else {
                return this.advance + " Day" + (this.advance === 1?'':'s')
            }
        },
    },
    methods: {
        setAdvance (n) {
            let store = this.$store;
            return function () {
                store.commit('setAdvance', n);
            }
        },
    },
    components: {
        Dropdown,
    },
}
</script>

<style>

</style>
