<template>
    <div class="dropdown">
        <div :class="'target' + (this.minimised?'':' active')" v-on:click="toggle" v-html="name"></div>
        <ul class="container" v-if="!minimised">
            <li
                v-for="item, index in items"
                :style="{backgroundColor:getbg(index)}"
            >
                <a v-on:click="execute(item.action)" :title="item.hint">
                    {{ item.name }}
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'dropdown',
    props: ["items", 'name'],
    data () {
        return {
            minimised: true,
        };
    },
    methods: {
        toggle () {
            this.minimised = !this.minimised;
        },
        getbg (i) {
            return (i%2==0)?"#FFFFFF":"#FEFDF6";
        },
        execute (action) {
            this.minimised = true;
            action();
        }
    },
}
</script>

<style>
.dropdown>.container {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0.2em solid #4F5890;
    background-color: #FFFFFF;
    list-style: none;
    margin-left: -0.1em;
}
.dropdown>.container a {
    display: block;
    height: 100%;
    cursor: pointer;
    padding: 0.5em;
    color: #2c3e50;
    min-width: 10em;
}
.dropdown>.container a:hover {
    background-color: #BEC0CC;
}
.dropdown>.target {
    height: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em;
}
.dropdown>.target.active {
    background-color:  #FFFFFF;
    color: #2c3e50;
}
</style>
