<template>
    <dropdown
        style="margin-left:auto;"
        name="&#x2335; Help"
        :items="menuItems"
    />
</template>

<script>
import Dropdown from './dropdown.vue';
import Aboutscreen from '../about.vue';
import Gettingstarted from '../gettingStarted.vue';

export default {
    name: 'helpmenu',
    computed: {
        menuItems () {
            let menuItems= [
                {
                    name: "Getting Started",
                    action: this.gettingStarted,
                },
                {
                    name: "About Budgie",
                    action: this.showAbout,
                },
            ];
            return menuItems;
        },
    },
    methods: {
        showAbout () {
            let obj = {
                component: Aboutscreen,
                props: {},
            };
            this.$store.commit("setModal", obj);
        },
        gettingStarted () {
            let obj = {
                component: Gettingstarted,
                props: {},
            };
            this.$store.commit("setModal", obj);
        },
    },
    components: {
        Dropdown,
        Aboutscreen,
        Gettingstarted,
    },
}
</script>

<style>

</style>
