<template>
    <div class="menubar">
        <newmenu />
        <advanceselector />
        <helpmenu />
    </div>
</template>

<script>
import Newmenu from './new.vue';
import Advanceselector from './advanceSelector.vue';
import Helpmenu from './help.vue';

export default {
    name: 'menubar',
    components: {
        Newmenu,
        Advanceselector,
        Helpmenu,
    },
}
</script>

<style>
.menubar {
    background-color: #4F5890;
    border: 1px solid #4F5890;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;
}
.menubar>*:hover {
    background-color:  #5B65A3;
    cursor: pointer;
}
.menubar>*:active {
    background-color:  #FFFFFF;
    color: #2c3e50;
}
</style>
