<template>
    <dropdown
        name="&#x2335; New"
        :items="menuItems"
    />
</template>

<script>
import Dropdown from './dropdown.vue';
import AccountEdit from '../accounts/edit.vue';
import MicroEdit from '../microaccounts/editMicro.vue';
import CategoryEdit from '../microaccounts/editCategory.vue';

export default {
    name: 'newmenu',
    computed: {
        tree () {
            return this.$store.getters.tree;
        },
        rootId () {
            if (this.tree === null) {
                return -1;  // New root
            } else if (this.tree !== "loading") {
                return this.tree.id;
            } else {
                return 1;   // Best guess
            }
        },
        menuItems () {
            let menuItems= [
                {
                    name: "Bank Account",
                    action: this.newAccount,
                },
                {
                    name: "Category",
                    action: this.newCategory,
                },
            ];
            if (this.tree !== null) {
                menuItems.push({
                    name: "Micro Account",
                    action: this.newMicroaccount,
                });
            }
            return menuItems;
        },
    },
    methods: {
        newAccount () {
            let obj = {
                component: AccountEdit,
                props: {
                    name: "New Account",
                    id: "",
                    balance: 0,
                    interest: 0,
                    mobility: 0,
                },
            };
            this.$store.commit("setModal", obj);
        },
        newMicroaccount () {
            let obj = {
                component: MicroEdit,
                props: {
                    name: "New Micro Account",
                    id: -1,
                    balance: 0,
                    target: 0,
                    full: false,
                    vital: false,
                    schedule: "",
                    parent: this.rootId,
                },
            };
            this.$store.commit("setModal", obj);
        },
        newCategory () {
            let obj = {
                component: CategoryEdit,
                props: {
                    name: "New Category",
                    id: -1,
                    parent: this.rootId,
                    balance: 0,
                    full: false,
                },
            };
            this.$store.commit("setModal", obj);
        },
    },
    components: {
        Dropdown,
        AccountEdit,
        MicroEdit,
        CategoryEdit,
    },
}
</script>

<style>

</style>
