<template>
    <div class="biggraph">
        <canvas id="biggraph"></canvas>
    </div>
</template>

<script>
import Chart from 'chart.js';
import Moment from 'moment';

export default {
    name: 'biggraph',
    props: ['showTotal', 'startDate', 'endDate'],
    mounted () {
        let ctx = document.getElementById("biggraph").getContext("2d");
        this.chart = new Chart(ctx, this.chartConfig);
    },
    computed: {
        chartConfig () {
            return {
                type: 'line',
                responsive: true,
                data: {
                    labels: this.graphLabels,
                    datasets: this.datasets,
                },
                options: {
                    scales: {
            			xAxes: [{
            				type: "time",
                            time: {
                                minUnit: 'day',
                                round: 'day',
                                displayFormats: {
                                    quarter: 'MMM YYYY'
                                },
                            },
            			}],
            			yAxes: [{
                            labelString: 'Balance',
                            ticks: {
                                callback: function(value, index, values) {
                                    return '$' + value;
                                },
                                beginAtZero: true,
                            },
            			}],
            		},
                    legend: {
                        position: 'right',
                        reverse: true,
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                        position: 'average',
                    },
                    elements: {
                        line: {
                            tension: 0, // Disable curves
                        },
                    },
                },
            };
        },
        datasets () {
            let colors = ['#1579ED','#FABD33','#9DF60E','#8946E7','#E84A71','#E28626'];
            let colorCounter = 1;
            let datasets = [];
            for (let aid in this.accounts) {
                if (this.history.hasOwnProperty(aid)) {
                    let points = this.graphLabels.filter(date => {
                        return new Date(date) >= this.startDate && new Date(date) <= this.endDate;
                    }).map(date => {
                        // We want to find either this date, or the most recent
                        // previous one.
                        // To do this we find the first date that is larger than
                        // our target, then get the date one before that.
                        let balance = 0;
                        let index = this.history[aid].findIndex(p => {
                            return Moment(p.date).diff(Moment(date)) > 0;
                        }) - 1;
                        // Edge case - there are no dates larger than given
                        if (index === -2) {
                            if (this.history[aid].length) {
                                balance =  this.history[aid][this.history[aid].length - 1].balance;
                            }
                        }
                        // Edge case - the found date was the first one
                         else if (index === -1) {
                            balance = 0;
                        } else {
                            balance =  this.history[aid][index].balance;
                        }
                        return {
                            x: date,
                            y: balance,
                        };
                    });
                    datasets.push({
                        label: this.accounts[aid].name,
                        borderColor: colors[colorCounter],
                        backgroundColor: colors[colorCounter],
                        steppedLine: true,
                        pointRadius: 0,
                        fill: false,
                        data: points,
                    });
                    colorCounter ++;
                }
            }
            if (this.showTotal) {
                datasets.push({
                    label: 'Combined',
                    borderColor: colors[0],
                    backgroundColor: colors[0],
                    steppedLine: true,
                    pointRadius: 0,
                    fill: false,
                    data: this.totalPoints,
                });
            }
            return datasets;
        },
        history () {
            return this.$store.state.history;
        },
        accounts () {
            return this.$store.state.accounts;
        },
        graphLabels () {
            return this.$store.getters.combinedLabels
            .filter(date => {
                return new Date(date) >= this.startDate && new Date(date) <= this.endDate;
            });
        },
        totalPoints () {
            return this.$store.getters.combinedHistory;
        },
    },
    data () {
        return {
            chart: null,
        };
    },
    watch: {
        datasets (val, oldVal) {
            this.chart.config.data.datasets = val;
            this.chart.update();
        },
        startDate (val, oldVal) {
            this.chart.config = this.chartConfig;
            this.chart.update();
        },
        endDate (val, oldVal) {
            this.chart.config = this.chartConfig;
            this.chart.update();
        },
    },
}
</script>

<style>
.biggraph {
    padding: 0.5em;
    margin: 0.5em 0;
    border: 0.1em solid #D4D4D4;
}
</style>
