<template>
    <span class="currentInterest">
        {{currentInterest}}% p.a.
    </span>
</template>

<script>
export default {
    name: 'currentInterest',
    computed: {
        loading () {
            return this.$store.state.accounts === "loading";
        },
        accounts () {
            return this.$store.state.accounts;
        },
        currentInterest () {
            // Return a weighted (by balance) average interest rate
            let totalBalance = 0;
            for (var aid in this.accounts) {
                if (this.accounts.hasOwnProperty(aid)) {
                    totalBalance += this.accounts[aid].balance;
                }
            }
            let weighted_average = 0;
            for (var aid in this.accounts) {
                if (this.accounts.hasOwnProperty(aid)) {
                    let weight = this.accounts[aid].balance / totalBalance;
                    weighted_average += this.accounts[aid].interest * weight;
                }
            }
            return weighted_average.toFixed(3);
        },
    },
}
</script>

<style>
.currentInterest {

}
</style>
