<template>
    <div class="modal_graph">
        <div class="controls">
            <label>Show Combined <input v-model="showTotal" type="checkbox" /></label>&emsp;
            Range
            <component
                is="Datepicker"
                v-model="graphStartDate"
                :disabled="timePickerDisabled"
                initial-view="month"
            /> to
            <component
                is="Datepicker"
                v-model="graphEndDate"
                :disabled="timePickerDisabled"
                initial-view="month"
            />
        </div>
        <biggraph
            :showTotal="showTotal"
            :startDate="graphStartDate"
            :endDate="graphEndDate"
        />
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import Biggraph from './bigGraph.vue';

export default {
    name: 'modalgraph',
    computed: {
        history () {
            return this.$store.state.history;
        },
        accounts () {
            return this.$store.state.accounts;
        },
    },
    data () {
        let graphStartDate = new Date();
        let graphEndDate = new Date();
        let history = this.$store.state.history;
        let showTotal = (Object.keys(this.$store.state.accounts).length===1?false:true);
        for (let aid in this.$store.state.accounts) {
            if (history.hasOwnProperty(aid)) {
                for (let i = 0; i < history[aid].length; i++) {
                    let date = Date.parse(history[aid][i].date);
                    if (!isNaN(date)) {
                        date = new Date(history[aid][i].date)
                        if (date < graphStartDate) {
                            graphStartDate = date;
                        }
                    }
                }
            }
        }
        return {
            showTotal,
            graphStartDate,
            graphEndDate,
            timePickerDisabled: {
                to: graphStartDate,
                from: graphEndDate,
            },
        };
    },
    components: {
        Datepicker,
        Biggraph,
    },
}
</script>

<style>
.modal_graph {
    width: 40em;
}
.modal_graph>.controls>.vdp-datepicker {
    display: inline-block;
}
.modal_graph>.controls>.vdp-datepicker input {
    width: 8em;
}
.modal_graph>.controls>.vdp-datepicker header {
    color: #2c3e50;
    background-color: #FFFFFF;
    font-size: 2em;
    padding: none;
}
.modal_graph>.controls>.vdp-datepicker header span {
    color: #2c3e50;
}
.modal_graph>.controls>.vdp-datepicker__calendar .cell.selected,
.modal_graph>.controls>.vdp-datepicker__calendar .cell.selected.highlighted,
.modal_graph>.controls>.vdp-datepicker__calendar .cell.selected:hover {
    background-color: #4F5890;
    color: #FFFFFF;
}

.modal_graph>.controls>.vdp-datepicker__calendar .cell.day:hover:not(.blank):not(.disabled),
.modal_graph>.controls>.vdp-datepicker__calendar .modal_graph .cell.month:hover:not(.blank):not(.disabled),
.modal_graph>.controls>.vdp-datepicker__calendar .cell.year:hover:not(.blank):not(.disabled) {
    border-color: #4F5890;
}
</style>
