<template>
    <div class="bounds stats" :style="dynamicStyle">
        <div class="header">
            <span class="title">Statistics</span>
            <span class="buttons">
                <minimisebutton
                    :onclick="toggle"
                    :minimised="minimised"
                />
            </span>
        </div>
        <div class="content" v-show="!minimised && !empty">
            <div class="day_header">
                AVERAGE INTEREST
            </div>
            <currentInterest />
            <div class="day_header" v-if="anyHistory">
                HISTORY
            </div>
            <totalgraph v-if="anyHistory"/>
        </div>
        <div class="emptyMessage" v-show="!minimised && empty">
            <span>You'll see something here once you add some Bank Accounts</span>
        </div>
    </div>
</template>

<script>
import Minimisebutton from '../buttons/minimise.vue';
import CurrentInterest from './currentInterest.vue';
import Totalgraph from './totalGraph.vue';

export default {
    name: 'stats',
    computed: {
        loading () {
            return this.$store.state.accounts === "loading";
        },
        dynamicStyle () {
            let style = {};
            if (this.minimised) {
                style.alignSelf = "flex-start";
                style.flexGrow = 0;
            }
            return style;
        },
        empty () {
            return Object.keys(this.$store.state.accounts).length === 0;
        },
        anyHistory () {
            return this.$store.getters.combinedLabels.length > 2;
        },
    },
    data () {
        return {
            minimised: false,
        };
    },
    methods: {
        toggle () {
            this.minimised = !this.minimised;
        },
    },
    components: {
        Minimisebutton,
        CurrentInterest,
        Totalgraph,
    },
}
</script>

<style>
.stats.bounds {
    display: inline-block;
    border: 2px solid #4F5890;
    margin: 0.5em 0;
}
.stats.bounds .header {
    background-color: #4F5890;
    padding: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.stats.bounds .header .title {
    color: #FFFFFF;
}
.stats.bounds .header>.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 1.2em;
}
.stats.bounds .content {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats.bounds .content .day_header {
    width: 100%;
    font-size: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    background-color: #D7DDE7;
    text-align: center;
}
.stats .emptyMessage {
    min-height: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    padding: 0.5em 1em;
    background-image: url('/frontend/graph_background.png');
    background-size: cover;
    background-position-y: center;
}
</style>
