<template>
    <div class="totalgraph" v-on:click="openModal" title="See Details">
        <canvas id="totalgraph"></canvas>
    </div>
</template>

<script>
import Chart from 'chart.js';
import ModalGraph from './modalGraph.vue';

export default {
    name: 'totalgraph',
    mounted () {
        let ctx = document.getElementById("totalgraph").getContext("2d");
        this.chart = new Chart(ctx, this.chartConfig);
    },
    computed: {
        chartConfig () {
            return {
                type: 'line',
                responsive: true,
                data: {
                    labels: this.graphLabels,
                    datasets: [
                        {
                			borderColor: "#4F5890",
                            steppedLine: true,
                            pointRadius: 0,
                            backgroundColor: "#CCD2F9",
                			fill: 'origin',
                            data: this.graphPoints,
                        },
                    ],
                },
                options: {
                    scales: {
            			xAxes: [{
            				type: "time",
            				scaleLabel: {
            					display: false,
            				},
                            gridLines: {
                                display: false,
                            },
                            ticks: {
                                display: false,
                            }
            			}],
            			yAxes: [{
            				scaleLabel: {
            					display: false,
            				},
                            gridLines: {
                                display: false,
                            },
                            ticks: {
                                callback: function(value, index, values) {
                                    return '$' + value;
                                },
                                maxTicksLimit: 4,
                            },
            			}],

            		},
                    legend: {
                        display: false,
                    },
                    tooltip: {
                        enabled: false,
                    },
                    elements: {
                        line: {
                            tension: 0,
                        },
                    },
                },
            };
        },
        graphLabels () {
            return this.$store.getters.combinedLabels;
        },
        graphPoints () {
            let points = this.$store.getters.combinedHistory;
            // If there are too many points, strip out 2/3 of them
            if (points.length > 300) {
                points = points.filter((point, i) => {
                    return i%3 === 0;
                });
            }
            return points;
        },
    },
    data () {
        return {
            chart: null,
        };
    },
    watch: {
        graphPoints (val, oldVal) {
            this.chart.config = this.chartConfig;
            this.chart.update();
        },
    },
    methods: {
        openModal () {
            let obj = {
                component: ModalGraph,
                props: {

                },
            };
            this.$store.commit("setModal", obj);
        },
    },
}
</script>

<style>
.totalgraph {
    width: 20em;
    height: 10em;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 0.1em solid #D4D4D4;
    display: inline-block;
    cursor: pointer;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
</style>
